<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smile_Customer::Customers_PriceRequests"
             title="Price Requests"
             module="Smile_Customer"
             sortOrder="10"
             parent="Magento_Customer::customer"
             action="Smile_Customer/priceRequests"
             resource="Smile_Customer::priceRequests"/>
    </menu>
</config>
